body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-image: url("../dragon-ball-goku-sparks-gif-preview-desktop-wallpaper.gif"); /* Path to your image */
        background-size: cover;                 /* Scales the image to fill the screen */
        background-position: center;            /* Centers the image */
        background-attachment: fixed;           /* Keeps the background still when scrolling */
        background-repeat: no-repeat;           /* Prevents the image from tiling */
    
        /* Optional: Add a dark overlay so text remains readable */
        background-color: rgba(0, 0, 0, 0.6);
}



/* Home Page Logo */
.logo {
    width: 50%;
    margin-top: 50px;
}


.logo2{
            display: block;         /* Changes the image from inline to a block element */
            margin-left: auto;      /* Pushes the image from the left towards the center */
            margin-right: auto;     /* Pushes the image from the right towards the center */
            width: 400px;           /* Sets a specific width for your logo */
            height: auto;           /* Maintains the aspect ratio so it doesn't look stretched */
            margin-bottom: 20px;    /* Adds some breathing room between the logo and buttons */
}



/* Navigation Bars/Buttons */
.nav-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.nav-bar {
    display: inline-block;
    text-align: center;
    background-color: #ff9800;
    /* Original Orange */
    color: black;
    padding: 20px 0;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    width: 250px;
    border: 1px solid black;
    /* Keeps button size stable */

    /* This makes the change smooth instead of instant */
        transition: transform 0.3s ease-in-out;
        will-change: transform;
}

.nav-bar:hover {
    transform: scale(1.05);

}

.nav-bar:hover {
    background-color: #000000;  /* Changes to Black */
    color: #ff9800;             /* Text changes to Orange */
    border-color:#ff9800;       /* Adds a White border glow */
    
    
}

/* Grid for Characters/Planets */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: #333;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #ff9800;
    transition: transform 0.3s ;

}

.card img:hover{
    transform: scale(1.45);
    will-change:transform;
    }

.card img {
    height: 350px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;

}